[Unit]
Description=NameHealth
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/namehealth

ExecStart=/root/namehealth/venv/bin/fastapi run src/backend/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target